<h1>Edit Your <%=@subscription.streaming_service.name%> Subscription</h1>

<%= render 'form', streaming_service_id: @subscription.streaming_service_id, subscription: @subscription%>

<%= link_to 'Back', user_subscriptions_path(current_user) %>