<h1>Edit Your <%=@subscription.streaming_service.name%> Subscription</h1>

<%= render 'form', subscription: @subscription, streaming_service_id: @subscription.streaming_service.id%>

<%= link_to 'Back', subscriptions_path %>