<h1>Subscriptions</h1>


  <body>
    <% @subscriptions.each do |subscription| %>
    
     <p><%= subscription.streaming_service.name %>
      <br><strong>Monthly price:</strong> <%= subscription.monthly_price %>
      <%= link_to 'Edit',  edit_streaming_service_subscription_path(subscription, subscription.streaming_service) %>
      <%= button_to("Delete Subscription", subscription, method: :delete, data: { confirm: "Really?" }) %></p>   
      
    <% end %>

  </body>


